<div class="row large_margin_bottom">
  <div class="col-xs-12">
    <h1 class="margin_bottom">About (stay awhile and listen)</h1>
    <p class="margin_bottom"><big>Why do we need another League of Legends statistical site? Well first off I really enjoy messing around with data
    and trying to make sense of it, so "for fun" is the obvious answer. But also I noticed that the great sites out there
    that I use all the time (<%= link_to "OP.gg", "http://op.gg", target: "_blank" %> and
    <%= link_to "Champion.gg", "http://champion.gg", target: "_blank" %> mainly) are great for micro-level aspects.
    "Who am I playing against?", "What does my matchup look like?", "What items should I build this game?" are the types
    of questions I could ask those tools. But one question that I could never really quantify was the longer-term
    "What aspects of the game do I really need to work on?", hence the creation of LoLevation.</big></p>

    <p class="margin_bottom"><big>So how does it work? It's pretty simple really: I gather as wide a variety of games as possible (really focusing on
    champion/role/tier combinations) so that you can compare your matches with those of players ranked in a higher tier.
    The hope is that these raw stats will reveal some weaknesses that can be shored up in order to improve one's own play
    (you can finally become that Diamond Yorick main you aspire to be!). Once I can figure out which stats are most telling I
    can come up with good ways to improve upon these general aspects of the game ("Looks like your CS is a bit low and that you are taking
    a lot of damage early, here are some laning drills to try out").</big></p>

    <p class="margin_bottom"><big>"What cool stuff are you using to make the site?" Well Bootstrap of course but also my very own javascript/svg charting
    library Chartery (<%= link_to "Github Repo", "https://github.com/thomascmurphy/chartery", target: "_blank" %>) so be sure to check
    it out if you're in need of some pretty charts (plugs, they be shameless). Otherwise I'm just using my own class to tap in to
    <%= link_to "Riot's API", "https://developer.riotgames.com/", target: "_blank" %> (thanks very much to everyone there for their help).
    So go forth summoners and climb away! Just be sure to wave at me when you get up there.</big></p>
  </div>
</div>
